/***** Font ********************************************************************/

@font-face {
    font-family: "OpenSans-Regular";
    src: url( "/extern/font/OpenSans-Regular.ttf" );
}

@font-face {
    font-family: "OpenSans-ExtraBold";
    src: url( "/extern/font/OpenSans-ExtraBold.ttf" );
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url( "/extern/font/OpenSans-Bold.ttf" );
}

/***** Page setup **************************************************************/

body{
    font-family: "OpenSans-Regular", sans-serif;
    background: #eeeeee;
    margin: 0;
}

div.bg{
    padding: 0;
    background: #cccccc;
}

div.container{
    margin: 0 auto 0 auto;
    width: 50em;
    text-align: left;
    overflow: hidden;
}

header{
    font-family: "OpenSans-Bold", sans-serif;
    float: left;
}

div#navbar{
    font-family: "OpenSans-Bold", sans-serif;
    float: right;
}

nav{
    font-family: "OpenSans-Bold", sans-serif;
    float: right;
    text-align: right;
}

div#content{
    float: left;
    width: 40em;
    min-height: 45em;
}

footer{
    clear: both;
    width: 100%;
    font-size: 0.8em;
    text-align: right;
}

div.admin{
    float: right;
    text-align: right;
    font-size: 1.0em;
}

div.languages{
    float: right;
    text-align: right;
    font-size: 1.0em;
}

div.addon{
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    text-align: right;
}

/***** Curriculum Vitae ********************************************************/

div.event{
    width: 100%;
}

div.event span.date{
    float: left;
    width: 25%;
}

/***** Menu ********************************************************************/

li.menu{
    list-style-type: none;
}

/***** Titles ******************************************************************/

h1, h2, h3, h4 {
    font-family: "OpenSans-Bold", sans-serif;
}


/***** Paragraphs **************************************************************/

p.info{
    color: black;
}

p.system{
    color: violet;
}

p.warning{
    color: orange;
}

p.error{
    color: red;
}

/***** Lists *******************************************************************/

ul{
    list-style-type: circle;
}

li{
}

/***** Links *******************************************************************/

a:link{
    color: #888888;
    text-decoration: none;
}

a:visited{
    color: #888888;
    text-decoration: none;
}

a:hover{
    color: #aaaaaa;
    text-decoration: underline;
}

a:active{
    color: #cccccc;
    text-decoration: underline;
}

a.command{
    cursor: pointer;
}

/***** Images ******************************************************************/

img{
    border: 0;
}

/***** Horizontal rules ********************************************************/

div.hr {
  height: 20px;
  background: #fff url('/res/hr.png') no-repeat scroll center;
}

div.hr hr {
  display: none;
}
