/***** Page setup **************************************************************/

body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Times, serif;
    font-size: 1.0em;
    color: #666666;
    background: #cccccc;
}

div#container{
    position: relative;
    margin: 1em auto 1em auto;
    padding: 1em;
    width: 53em;
    text-align: left;
    background: #eeeeee;
}

div#header{
    width: 100%;
}

div#message{
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    text-align: right;
}

div#navi{
    float: left;
    padding: 0.5em;
    width: 15em;
    height: 26em;
    background: #fefefe;
    background-image: url('../images/navi-bg.png');
    background-position: bottom right;
    background-repeat: no-repeat;
}

div#content{
    float: right;
    position: relative;
    padding: 0.5em;
    width: 35em;
    min-height: 26em;
    background: #fefefe;
}

div#footer{
    clear: both;
    padding-top: 1em;
    width: 100%;
    font-size: 0.8em;
    text-align: right;
    /*border-top: solid 1px #cecece;*/
}

div.default{
    margin: 0.3em 0 0.3em 0;
    padding: 0;
}

div.admin{
    float: right;
    text-align: right;
    font-size: 1.0em;
}

div.languages{
    float: right;
    text-align: right;
    font-size: 1.0em;
}

div.section{
    padding-left: 0.5em;
    margin-bottom: 1em;
}

div.section img{
}

div.footer{
    position: absolute;
    bottom: 0.5em;
    text-align: right;
}

div.addon{
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    text-align: right;
}

/***** Curriculum Vitae ********************************************************/

div.event{
    width: 100%;
}

div.event span.date{
    float: left;
    width: 25%;
}

div.event p{
    margin-left: 25%;
}

/***** Menu ********************************************************************/

ul.menu0{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

ul.menu{
    margin: 0 0 0 0;
    padding: 0 0 0 0.5em;
}

li.menu{
    list-style-type: none;
    margin: 0.4em 0 0 0;
}

/***** Projects ****************************************************************/

div.images{
    margin-bottom: 0.5em;
}

div.files{
    margin-bottom: 0.5em;
}

/***** Titles ******************************************************************/

h1{
    margin: 0.5em 0 0 0;
}

h2{
    font-size: 1.5em;
    margin: 0.5em 0 0.5em 0;
}

h3{
    font-size: 1.4em;
    margin: 2em 0em 0.5em 0;
}

h3{
    font-size: 1.2em;
    margin: 1em 0em 0.5em 0;
}

h4{
    font-size: 1.0em;
    margin: 1em 0em 0.5em 0;
}

/***** Paragraphs **************************************************************/

p{
    margin: 0.3em 0 0.3em 0;
    padding: 0;
}

p.info{
    color: black;
}

p.system{
    color: violet;
}

p.warning{
    color: orange;
}

p.error{
    color: red;
}

p.deco_welcome{
    text-align: right;
}

p.deco_welcome img{
    border: 0;
    vertical-align: text-bottom;
}

/***** Lists *******************************************************************/

ul{
    list-style-type: circle;
    margin: 0 0 0.5em 0;
    padding: 0 0 0 1em;
}

li{
    margin: 0;
    padding: 0;
}

/***** Forms *******************************************************************/

form{
    margin: 0.5em 0 0 0;
    padding: 0;
}

label{
    display: block;
    float: left;
    width: 5em;
    padding: 0.2em;
    text-align: right;
}

div.confirm{
    text-align: right;
}

textarea {
    width: 31em;
    height: 20em;
}

/***** Links *******************************************************************/

a:link{
    color: #888888;
    text-decoration: none;
}

a:visited{
    color: #888888;
    text-decoration: none;
}

a:hover{
    color: #aaaaaa;
    text-decoration: none;
}

a:active{
    color: #cccccc;
    text-decoration: none;
}

a.command{
    cursor: pointer;
}

/***** Images ******************************************************************/

div#content img{
    border-width: 0;
    max-width: 35em;
}

div.images img{
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

img.logo{
    border: 0px;
}

img{
    border: 0px;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
}

/***** Horizontal rules ********************************************************/

div.hr {
  height: 20px;
  background: #fff url('../images/hr.png') no-repeat scroll center;
}

div.hr hr {
  display: none;
}
