body {
    /*text-align: center;*/
}

div#title {
    width: 396px;
    color: black;
    background-color: white;
    border: 2px solid black;
    font-family: monospace;
    font-size: small;
    text-align: center;
}

div#command {
    width: 396px;
    color: black;
    background-color: white;
    border: 2px solid black;
    font-family: monospace;
    font-size: small;
    text-align: center;
}

canvas#main {
    /*border: 2px solid black;*/
}

div#output {
    width: 396px;
    height: 296px;
    color: white;
    background-color: black;
    border: 2px solid black;
    font-family: monospace;
    font-size: small;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}
